services:
  - type: web
    name: allora-instagram-api
    runtime: python
    plan: free
    branch: main
    buildCommand: |
      pip install -r requirements.txt
    startCommand: |
      uvicorn main:app
    envVars:
      - key: PYTHON_VERSION
        value: 3.10.12
      - key: PORT
        value: 10000
    autoDeploy: true
